body {
    margin: 20vh auto;
    width: 20%;
    height: 40vh;
    border: 3px solid black;
    border-radius: 15px;
    content: "";
    clear: both;
    display: table;
}

.calc-header{
    margin: 5px;
    border: 3px solid black;
    border-radius: 10px;
}

.botoes{
    display: block;
    padding: 5px;
}

.number {
    margin-top: 5px;
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.number:hover {
    border: 2px solid lightblue;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.number:active {
    border: 2px solid lightblue;
    width: 60px;
    height: 60px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}

.operator {
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 60px;
    height: 60px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.operator:hover {
    border: 2px solid lightblue;
    width: 60px;
    height: 60px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.operator:active {
    border: 2px solid lightblue;
    width: 60px;
    height: 60px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}

#calc{
    background-color: black;
}

