body {
    text-align: center;
    display: flex;
    margin: 5vh auto;
    width: 43vh;
    height: 40vh;
    content: "";
    clear: both;
    display: table;
    background: rgb(0, 11, 18);
    background: linear-gradient(270deg, rgba(0, 11, 18, 1) 0%, rgba(4, 17, 98, 1) 58%, rgba(15, 2, 186, 1) 95%);
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI';
    margin-bottom: 0;
}

.container {
    border: 3px solid black;
    background-image: linear-gradient( 109.6deg,  rgb(44, 76, 78) 11.2%, rgba(36,163,190,1) 91.1% );
    border-radius: 12px;
    padding: 11px;
}

.tela {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    border: 3px solid black;
    border-radius: 10px;
    width: 98%;
}

#resultado {
    font-size: 2.8rem;
}

#none {
    visibility: hidden;
}

textarea {
    border: none;
    outline: none;
    border-radius: 15px;
    color: black;
    resize: none;
}

.botoes {
    display: block;
    padding: 4px;
    position: inherit;
}

#tecla0{
    width: 115px;
}

.number {
    margin-top: 5px;
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.number:hover {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.number:active {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}

.operator {
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.operator:hover {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.operator:active {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}