body {
    display: flex;
    margin: 18vh auto;
    width: 43vh;
    height: 40vh;
    content: "";
    clear: both;
    display: table;
}

.container {
    border: 3px solid black;
    background-color: rgb(238, 255, 0);
    border-radius: 12px;
    padding: 11px;
}

.tela {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-end;
    border: 3px solid black;
    border-radius: 10px;
    width: 98%;
}

#resultado{
    font-size: 2.8rem;
}

#none{
    visibility: hidden;
}

textarea {
    border: none;
    outline: none;
    border-radius: 15px;
    color: black;
}

.botoes {
    display: block;
    padding: 4px;
    position: inherit;
}

.number {
    margin-top: 5px;
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.number:hover {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.number:active {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}

.operator {
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 55px;
    height: 55px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.operator:hover {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

.operator:active {
    border: 2px solid lightblue;
    width: 55px;
    height: 55px;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
}